main{
  min-height: 80vh;
}


h3{
  padding: 1rem 0;
}

h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2{
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
/* .rating span{
  margin: 0.1rem;
} */


/* main {

  background-color: rgb(214, 219, 221);
}  */

/* body {
  background-color: rgb(214, 219, 221);
} */

.pink-background {
  background-color: pink;
}

.footer {
  background-color: #343a40; /* Replace with your desired background color */
  color: white; /* Set text color to white or appropriate contrast color */
  height: 60px; /* Adjust the height as needed */
  padding: 10px 0; /* Adjust the top and bottom padding as needed */
}

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}




/* @media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
} */

.carousel-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-item-image {
  flex: 1;
}

.carousel-item-text {
  text-align: center;
  padding: 15px;
}

.carousel img {
  height: 150px;
  padding: 1px;
  
}

.custom-carousel {
  border: 3px solid #ccc; /* Border style and color */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7); /* Box shadow style and color */
  background-color: #ffffff; /* Replace with your desired background color */

}